* {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

input, textarea {
	border: 3px;
	border-radius: 10px;
}

.postbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.boxy, .boxybutton, .boxybutton-big{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	border-radius: 20px;
}

.submitbutton, .tinybutton {
	background-color: #338833;
	border: 5px;
	border-radius: 15px;
	font-size: 15px;
	color: white;
}

.submitbutton {
	margin: 20px;
	padding: 20px;
}

.tinybutton {
	margin: 0px;
	padding: 0px;
	width: 40px;
	height: 40px;
	font-size: 32px;
}

.submitbutton:hover, .tinybutton:hover {
	background-color: #55aa55;
}

.submitbutton:action, .tinybutton:action {
	background-color: #77cc77;
}

.boxybutton, .boxybutton-big {
	border: 0px;
	background-color: #5555aa;
	color: white;
	font-size: 20px;
}

.boxybutton-big
{
	font-size: 30px;
}

.boxybutton:hover, .boxybutton-big:hover {
	background-color: #7777cc;
}

.boxybutton:active, .boxybutton-big:active {
	background-color: #9999ee;
}

.boxy {
	background-color: #8888dd;
}

.tinybuttonbar {
	position: absolute;
	right: 40px;
}

.boxypost, .boxyfullpost {
	margin: 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: #9999ee;
}

.boxypost {
	width: 400px;
}

.boxyfullpost {
	width: 760px;
}

.boxypost h3 {
	font-size: 16px;
	font-style: italic;
}

.boxypost h2:hover {
	color: #666666;
}

.boxypost h2:active {
	color: #aaaaaa;
}